backend:
  name: git-gateway
  branch: main
  commit_messages:
    create: "Create {{collection}} “{{slug}}”"
    update: "Update {{collection}} “{{slug}}”"
    delete: "Delete {{collection}} “{{slug}}”"
    uploadMedia: "[skip ci] Upload “{{path}}”"
    deleteMedia: "[skip ci] Delete “{{path}}”"
media_folder: public/static/media
publish_mode: editorial_workflow
i18n:
  structure: multiple_files #multiple_folders
  locales: [en, it]
  default_locale: en
slug:
  encoding: "ascii"
  clean_accents: true
  sanitize_replacement: "-"
collections:
  - name: "pages"
    label: "Pages"
    identifier_field: name
    folder: cms/pages
    create: true
    slug: "{{slug}}"
    i18n: true
    extension: "json"
    format: "json"
    editor:
      preview: false
    fields:
      - {
          label: "Publish Date",
          name: "date",
          widget: "datetime",
          required: true,
        }
      - {
          label: "Slug",
          name: "slug",
          widget: "string",
          i18n: true,
          required: false,
        }
      - {
          label: "Title",
          name: "title",
          widget: "string",
          i18n: true,
          required: true,
        }
      - {
          label: "Abstract",
          name: "abstract",
          widget: "text",
          i18n: true,
          required: false,
        }
      - {
          label: "Locale",
          name: "locale",
          widget: "select",
          options: ["en", "it"],
          i18n: true,
          required: false,
        }
      - {
          label: "Color",
          name: "color",
          widget: "color",
          i18n: false,
          required: false,
        }
      - {
          label: "Template",
          name: "template",
          widget: "select",
          options: ["information", "editorial"],
          default: ["editorial"],
          i18n: false,
          required: true,
        }
      - label: "Content"
        name: "content"
        widget: "list"
        collapsed: false
        i18n: true
        required: false
        summary: '{{fields.content_title}}'
        fields: 
            - { label: Content title, name: content_title, widget: string }
            - { label: Content abstract, name: content_abstract, widget: text }
            - { label: Content body, name: content_body, widget: text }
            - { label: Content poster, name: content_poster, widget: image }
            - { label: Content video, name: content_video, widget: string }
            - label: Content button
              name: content_button
              widget: object
              fields:
                - { label: Label, name: content_button_label, widget: string }
                - { label: Link, name: content_button_link, widget: string }
            - label: Left Titles
              name: content_titles
              widget: object
              fields:
                - { label: Title, name: content_titles_title, widget: string }
                - { label: Subtitle, name: content_titles_subtitles, widget: string }

  - name: "settings"
    label: "Settings"
    i18n:
      structure: single_file
    files:
      - label: "General"
        name: "general"
        extension: "json"
        format: "json"
        editor:
          preview: false
        i18n: true
        file: "cms/settings/general.json"
        fields:
          - {
              label: "Button Discover",
              name: "discoverLabel",
              widget: "string",
              i18n: true
            }
          - {
              label: "Button Add To Cart",
              name: "addToCartLabel",
              widget: "string",
              i18n: true
            }
          - {
              label: "Button Read More",
              name: "readMoreLabel",
              widget: "string",
              i18n: true
            }
          - {
              label: "Info Title",
              name: "infoTitle",
              widget: "string",
              i18n: true,
            }
          - {
              label: "Info Description",
              name: "infoDescription",
              widget: "string",
              i18n: true,
            }
          - {
              label: "Linea 1 Paginazione",
              name: "paginationLine1",
              widget: "string",
              i18n: true,
            }
          - {
              label: "Linea 2 Paginazione",
              name: "paginationLine2",
              widget: "string",
              i18n: true,
            }
          - {
              label: "Label Disponibile in",
              name: "availableLabel",
              widget: "string",
              i18n: true,
            }
          - {
              label: "Label Settimane",
              name: "weeksLabel",
              widget: "string",
              i18n: true,
            }
          - {
              label: "Label Settimana",
              name: "weekLabel",
              widget: "string",
              i18n: true,
            }

      - label: "Navigation"
        name: "navigation"
        extension: "json"
        format: "json"
        editor:
          preview: false
        i18n: true
        file: "cms/settings/navigation.json"
        fields:
          - label: "Nav"
            name: "navigation"
            widget: "list"
            i18n: true
            fields:
              - {
                  label: "Title",
                  name: "title",
                  widget: "string",
                  i18n: true,
                  required: false,
                }
              - label: "Items"
                name: "items"
                widget: "list"
                i18n: true
                fields:
                  - {
                      label: "Title",
                      name: "title",
                      widget: "string",
                      i18n: true,
                      required: false,
                    }
                  - {
                      label: "Url",
                      name: "url",
                      widget: "string",
                      i18n: true,
                      required: false,
                    }
                  - {
                      label: "Target Blank",
                      name: "isExternal",
                      widget: "boolean",
                      i18n: true,
                      required: false,
                    }
      - label: "Footer"
        name: "footer"
        extension: "json"
        format: "json"
        editor:
          preview: false
        i18n: true
        file: "cms/settings/footer.json"
        fields:
          - label: "Footer"
            name: "footer"
            widget: "object"
            summary: "Footer contents"
            i18n: true
            fields:
              - {
                  label: "Legal text",
                  name: "legalText",
                  widget: "string",
                  i18n: true,
                }
              - label: "Links"
                name: "links"
                widget: "list"
                i18n: true
                fields:
                  - {
                      label: "Title",
                      name: "title",
                      widget: "string",
                      i18n: true,
                      required: false,
                    }
                  - {
                      label: "Url",
                      name: "url",
                      widget: "string",
                      i18n: true,
                      required: false,
                    }
          - label: "Footer Column 1"
            name: "footerCol1"
            widget: "object"
            i18n: true
            fields:
              - {
                  label: "Label",
                  name: "label",
                  widget: "string",
                  i18n: true,
                  required: false,
                }
              - label: "Links"
                name: "links"
                widget: "list"
                i18n: true
                fields:
                  - {
                      label: "Title",
                      name: "title",
                      widget: "string",
                      i18n: true,
                      required: false,
                    }
                  - {
                      label: "Url",
                      name: "url",
                      widget: "string",
                      i18n: true,
                      required: false,
                    }
          - label: "Footer Column 2"
            name: "footerCol2"
            widget: "object"
            i18n: true
            fields:
              - {
                  label: "Label",
                  name: "label",
                  widget: "string",
                  i18n: true,
                  required: false,
                }
              - label: "Links"
                name: "links"
                widget: "list"
                i18n: true
                fields:
                  - {
                      label: "Title",
                      name: "title",
                      widget: "string",
                      i18n: true,
                      required: false,
                    }
                  - {
                      label: "Url",
                      name: "url",
                      widget: "string",
                      i18n: true,
                      required: false,
                    }
          - label: "Footer Column 3"
            name: "footerCol3"
            widget: "object"
            i18n: true
            fields:
              - {
                  label: "Label",
                  name: "label",
                  widget: "string",
                  i18n: true,
                  required: false,
                }
              - label: "Links"
                name: "links"
                widget: "list"
                i18n: true
                fields:
                  - {
                      label: "Title",
                      name: "title",
                      widget: "string",
                      i18n: true,
                      required: false,
                    }
                  - {
                      label: "Url",
                      name: "url",
                      widget: "string",
                      i18n: true,
                      required: false,
                    }
          - label: "Footer Column 4"
            name: "footerCol4"
            widget: "object"
            i18n: true
            fields:
              - {
                  label: "Label",
                  name: "label",
                  widget: "string",
                  i18n: true,
                  required: false,
                }
              - {
                  label: "Immagine",
                  name: "image",
                  widget: "image",
                  required: false,
                  i18n: false,
                }
              - {
                  label: "Url",
                  name: "url",
                  widget: "string",
                  i18n: true,
                  required: false,
                }
              - {
                  label: "Description",
                  name: "description",
                  widget: "string",
                  i18n: true,
                  required: false,
                }
      - label: "Cart"
        name: "cart"
        extension: "json"
        format: "json"
        editor:
          preview: false
        i18n: true
        file: "cms/settings/cart.json"
        fields:
            - {
                label: "Title",
                name: "title",
                widget: "string",
                required: false,
                i18n: true,
              }
            - {
                label: "Label Empty Cart",
                name: "emptyLabel",
                widget: "string",
                required: false,
                i18n: true,
              }
            - {
                label: "Payment Logos",
                name: "paymentLogos",
                widget: "image",
                required: false,
                i18n: false,
              }
            - {
                label: "Label Payment",
                name: "paymentLabel",
                widget: "string",
                required: false,
                i18n: true,
              }
            - {
                label: "Label Total",
                name: "totalLabel",
                widget: "string",
                required: false,
                i18n: true,
              }
            - {
                label: "Label Delivery",
                name: "deliveryLabel",
                widget: "string",
                required: false,
                i18n: true,
              }
            - {
                label: "Label Next Steps",
                name: "nextStepsLabel",
                widget: "string",
                required: false,
                i18n: true,
              }
            - {
                label: "Label Checkout",
                name: "checkoutLabel",
                widget: "string",
                required: false,
                i18n: true,
              }
