backend:
  name: git-gateway
  branch: main
  commit_messages:
    create: 'Create {{collection}} “{{slug}}”'
    update: 'Update {{collection}} “{{slug}}”'
    delete: 'Delete {{collection}} “{{slug}}”'
    uploadMedia: '[skip ci] Upload “{{path}}”'
    deleteMedia: '[skip ci] Delete “{{path}}”'
media_folder: static/media
public_folder: media
publish_mode: editorial_workflow
i18n:
  structure: multiple_files #multiple_folders
  locales: [en, it]
  default_locale: en
slug:
  encoding: 'ascii'
  clean_accents: true
  sanitize_replacement: '-'
collections:
  - name: 'pages'
    label: 'Pages'
    identifier_field: name
    media_folder: media
    folder: 'cms/pages'
    create: true
    slug: '{{slug}}'
    i18n: true
    extension: 'json'
    format: 'json'
    editor:
      preview: false
    fields:
      - { label: 'Title', name: 'title', widget: 'string', i18n: true, required: true }
      - { label: 'Order', name: 'order', widget: 'number', value_type: "int", min: 0, required: true }
      - {
          label: 'Publish Date',
          name: 'date',
          widget: 'datetime',
          required: true,
        }
      - {
          label: 'Featured Image',
          name: 'thumbnail',
          widget: 'image',
          required: false,
        }
      - {
          label: "Gallery",
           name: "galleryImages",
           widget: "list",
           summary: '{{fields.image}}',
           field: {label: Image, name: image, widget: image}
        }
      - { label: 'Abstract', name: 'abstract', widget: 'text', i18n: true, required: false }
      - { label: 'Body', name: 'body', widget: 'text', i18n: true, required: false }

  - name: 'settings'
    label: 'Settings'
    i18n:
      structure: single_file
    files:
      - label: 'General'
        name: 'general'
        extension: 'json'
        format: 'json'
        editor:
          preview: false
        i18n: true
        file: 'cms/settings/general.json'
        fields:
          - { label: 'Brand name', name: 'brandName', widget: 'string' }
          - { label: 'Brand name link', name: 'brandLink', widget: 'string', i18n: true }
          - { label: 'Info page', name: 'infoPage', widget: 'relation', collection: 'pages', search_fields: ['name'], value_field: '{{slug}}'}
          - { label: 'Btn buy', name: 'btnBuy', widget: 'string', i18n: true }
          - { label: 'Btn cart', name: 'btnCart', widget: 'string', i18n: true }
          - { label: 'General title', name: 'generalTitle', widget: 'string', i18n: true }
          - { label: 'General text', name: 'generalText', widget: 'string', i18n: true }
          - label: "Footer"
            name: "footer"
            widget: "object"
            summary: 'Footer contents'
            collapsed: true
            i18n: true
            fields:
              - { label: 'Privacy label', name: 'privacyLabel', widget: 'string', i18n: true }
              - { label: 'Privacy link', name: 'privacyLink', widget: 'string', i18n: true }
              - { label: 'Cookie label', name: 'cookieLabel', widget: 'string', i18n: true }
              - { label: 'Cookie link', name: 'cookieLink', widget: 'string', i18n: true }
              - { label: 'Terms label', name: 'termsLabel', widget: 'string', i18n: true }
              - { label: 'Terms link', name: 'termsLink', widget: 'string', i18n: true }
              - { label: 'Legal text', name: 'legalText', widget: 'string', i18n: true }
          - label: "Footer Column 1"
            name: "footerCol1"
            widget: "object"
            i18n: true
            fields:
              - { label: 'Label', name: 'label', widget: 'string', i18n: true, required: false }
              - label: 'Links'
                name: 'links'
                widget: 'list'
                i18n: true
                fields:
                  - { label: 'Title', name: 'title', widget: 'string', i18n: true, required: false }
                  - { label: 'Url', name: 'url', widget: 'string', i18n: true, required: false }
          - label: "Cart"
            name: "cart"
            widget: "object"
            summary: 'cart options'
            collapsed: true
            i18n: true
            fields:
              - { label: 'Title', name: 'title', widget: 'string', required: false, i18n: true }
              - { label: 'Payments', name: 'payments', widget: 'image', required: false, i18n: false }
              - { label: 'Pay with', name: 'payWith', widget: 'string', required: false, i18n: true }
              - { label: 'Total', name: 'total', widget: 'string', required: false, i18n: true }
              - { label: 'Notes Left', name: 'notesLeft', widget: 'string', required: false, i18n: true }
              - { label: 'Notes Right', name: 'notesRight', widget: 'string', required: false, i18n: true }
              - { label: 'Cta', name: 'cta', widget: 'string', required: false, i18n: true }
          - label: 'Nav'
            name: 'navigation'
            widget: 'list'
            summary: '{{fields.page}}'
            fields:
              - { label: 'Route', name: 'navOption', widget: 'relation', collection: 'pages', search_fields: ['name'], value_field: '{{slug}}'}
          - label: 'Social'
            name: 'social'
            widget: 'list'
            summary: '{{fields.id}}'
            fields:
              - { label: 'Id', name: 'id', widget: 'string'}
              - { label: 'Url', name: 'url', widget: 'string'}
          
          